
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
    background-image: url("../images/body-bg.png");
}

.main-header {
    width: 100%;
    padding:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 38px;
    padding: 20px;
}

.main-header{
    display: flex;
    background-color: #ffffff;
    border: 2px solid #cccccc;
}
.main-header-col1{
    width: 30%;
}
.main-nav {
    width: 60%;
    text-align: right;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #333333;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

footer{
    background-color: #666666;
    text-align: center;
    padding: 50px;
    color: white;
}