
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
    background-image: url("../images/body-bg.png");
}

.main-header {
    width: 100%;
    padding:20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


.main-header__brand {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin-left: 165px;
}

.main-header{
    display: flex;
    background-color: #ffffff;
    border: 2px solid #cccccc;
}
.main-header-col1{
    width: 30%;
}
.main-nav {
    width: 60%;
    text-align: right;
    margin-right: 200px;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #333333;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.content{
    width: 960px;
    background-color: white;
    margin: auto;
    height: auto;
    padding: 20px;
}
p{
    display: inline-block;
}

.left{
    float: right;
}


.clearfix{
    overflow: auto;

}

.clearfx{
    clear: both;
}

footer{
    background-color: #666666;
    text-align: center;
    padding: 50px;
    color: white;
}